@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



body 
{
    background: linear-gradient(to bottom, #3498db, #7daecf);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;

}

section img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    opacity: 80%;
}

.sec h2
{
        font-size: 3.5em;
        margin-bottom: 100px;   
        color: #000000;
        align-items: center;
    	font-family: Cooper;

}
.sec p 
{
        font-size: 1.2em;
        color: #000000;
        align-items: center;
        font-family: Poppins;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    text-align: center;
    padding:30px 20px;
    background-color: #236997;
    font-size: 5rem;
}


.container .box h3{
    color: rgb(255, 255, 255);
    font-size: 22px;
    padding: 10px 0;
}

.btn-primary {
    background-color: #236997;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
}
.btn-primary:hover {
    background-color: #2980b9;
}